:root {
  --color-text1: #212121;
  --color-text2: #757575;
  --color-link-focus: #2196f3;
  --color-bg-body: #ffffff;
  --color-bg-btn: #f5f4fa;
  --color-hero: #2f303a;
  --color-hero-dg: #c4c4c4;
}

@import "./utils/variables";
@import "./base/body";
@import "./base/h-p";
@import "./utils/visually-hidden";
@import "./base/container";
@import "./base/header";
@import "./base/section";
@import "./components/link";
@import "./components/feedback";
@import "./components/nvg-list__link";
@import "./components/logo";
@import "./components/nvg";
@import "./components/nvg-list";
@import "./components/header-contacts";
@import "./components/contacts_list";
@import "./components/hero";
@import "./components/hero__title";
@import "./components/hero__btn";
@import "./base/btn";
@import "./components/work-section__list";
@import "./components/work-section";
@import "./components/work-section__item";
@import "./components/work-icon";
@import "./components/work-section__icon";
@import "./components/work-section__content";
@import "./components/work-section__title";
@import "./components/work-section__text";
@import "./components/jobs";
@import "./components/jobs__title";
@import "./components/jobs__text";
@import "./components/jobs__item";
@import "./components/team";
@import "./components/section-title";
@import "./components/team-item";
@import "./components/team__photo";
@import "./components/team__box";
@import "./components/team__subtitle";
@import "./components/team__text";
@import "./components/social-list";
@import "./components/social-list__item";
@import "./components/social-list__link";
@import "./components/social-list__svg";
@import "./components/clients";
@import "./components/clients__list";
@import "./components/clients__item";
@import "./components/clients__link";
@import "./components/clients__svg";
@import "./base/footer";
@import "./components/footer__main";
@import "./components/address-block";
@import "./components/address";
@import "./components/address__item";
@import "./components/address__link";
@import "./components/footer-social";
@import "./components/footer-social__title";
@import "./components/footer__social-link";
@import "./components/footer-form__label";
@import "./components/footer-form__mail";
@import "./components/footer-social__list";
@import "./components/form-box";
@import "./components/footer-form__bnt";
@import "./components/footer-form__btn-text";
@import "./components/footer-form__telega";
/*==============portfolio=====================*/
@import "./components/btn-box__but";
@import "./components/prtfl-content";
@import "./components/button-list";
@import "./components/button-list__item";
@import "./components/section-btn";

@import "./components/content-list";
@import "./components/content-list__item";
@import "./components/list-link";
@import "./components/list-link__overflow-img";
@import "./components/list-link__overflow";
@import "./components/list-link__overflow-text";
@import "./components/list-link__text";
@import "./components/list-link__subtitle";
@import "./components/list-link__content";
@import "./components/backdrop";
@import "./components/modal__close-btn";
@import "./components/modal";
@import "./components/modal__close-icon";
@import "./base/is-hidden";
@import "./components/modal-form";
@import "./components/modal-form__title";
@import "./components/modal-form__subbox";
@import "./components/modal-form__label";
@import "./components/modal-form__icon";
@import "./components/modal-form__input";
@import "./components/modal-form__comment";
@import "./components/modal-form__checkbox-label";
@import "./components/check-wrapper";
@import "./components/modal-form__checkbox";
@import "./components/modal-form__policy-text";
@import "./components/modal-form__policy-link";
@import "./components/modal-form__check-icon";
@import "./components/modal-form__button";
@import "./components/modal-form__submit";

/* modal form-window */
