.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  display: flex;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  .modal-form__input:focus + & {
    fill: var(--color-link-focus);
  }
}
