.nvg-list__link {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding-bottom: 32px;
  padding-top: 32px;
  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    /* background: #2196f3; */
    background: $color-link-focus;
    border-radius: 2px;
    bottom: 0;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:hover,
  &:focus {
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:hover::after,
  &:focus::after {
    opacity: 1;
    transition-property: color, opacity;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.nvg-list__link-studio {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: $color-link-focus;
  &::after {
    opacity: 1;
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    background: $color-link-focus;
    border-radius: 2px;
    bottom: 0;
    opacity: 1;
    transition-property: opacity;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.nvg-list__link-portfolio {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: $color-link-focus;
  &::after {
    opacity: 1;
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    background: $color-link-focus;
    border-radius: 2px;
    bottom: 0;
    opacity: 1;
    transition-property: opacity;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
