.prtfl-main {
  display: block;
  min-height: 500px;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 200px;

  outline: 1px #2196f3;
}

// удалить когда не нужно
.prtfl-main-title {
  margin-top: auto;
  margin-bottom: auto;
}
